
<html>
<head>
	<title>บทเพลงพระราชนิพลธ์</title>
</head>
<B><div align="right">
*** บทเพลงพระราชนิพนธ์ ***<BR/>
<a href="home">home</a>
<a href="kingsong1">บทเพลงที่1</a>
<a href="kingsong2">บทเพลงที่2</a>
<a href="kingsong3">บทเพลงที่3</a>
</B></div>
<center>
	<h1>บทเพลงพระราชนิพนธ์</h1>
</center>	



<center><a href="http://music.sanook.com/2382253/">รวมบทเพลงพระราชนิพนธ์ ดาวน์โหลดได้ที่นี้ </a></center><br><br>
<body background="https://i.ytimg.com/vi/Nt2BChzX05s/maxresdefault.jpg">

	<div border="1" align="center">
     <img src = "http://www.thairath.co.th/media/mSQWlZdCq5b6ZLkwXfzgWhFQaQCfVI2A.jpg"  width="500" height="350" >  

	<B><p Align=left >พระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดช มีพระราชปรีชาญาณในเรื่องของดนตรี ทรงพระราชนิพนธ์ทำนองเพลงตั้งแต่ยังทรงเป็นสมเด็จพระอนุชาธิราช รวมบทเพลงพระราชนิพนธ์ทั้งสิ้น 48 เพลง พระองค์ทรงเป็นพระมหากษัตริย์ที่ทรงแต่งานเป็นกิจวัตรหลัก เป็นที่น่าพิศวงยิ่งนัก แม้พระองค์จะทรงมีภารกิจต่างๆ มากมาย แต่พระองค์ก็ยังทรงมีเวลาสร้างสรรค์พระราชนิพนธ์ทางดนตรี ที่มีความไพเราะไว้มาก ซึ่งยังติดตรึงใจปวงชนชาวไทยตลอดมา</p> 
		</B>
</div>
</body>
	

</html>