<html>
<head>
	<title>บทเพลงพระราชนิพลธ์</title>
</head>
<B><div align="right">
*** บทเพลงพระราชนิพนธ์ ***<BR/>
<a href="home">home</a>
<a href="kingsong1">บทเพลงที่1</a>
<a href="kingsong2">บทเพลงที่2</a>
<a href="kingsong3">บทเพลงที่3</a>
</B></div>
<center>
	<h1>บทเพลงพระราชนิพนธ์ เพลง : ใกล้รุ่ง</h1>
</center>	



<center><a href="https://www.youtube.com/watch?v=GZ6zFcF3044">ฟังได้ที่นี้</a></center>
<body background="https://i.ytimg.com/vi/Nt2BChzX05s/maxresdefault.jpg">

	<div border="1" align="center">
    
	<B><p>ได้ยินเสียงแว่วดังแผ่วมาแต่ ไกล ไกล<br>
ชุ่มชื่นฤทัย หวานใดจะปาน<br>
ฟังเสียงบรรเลง ขับเพลงประสาน<br>
จากทิพย์วิมาน ประทานกล่อมใจ<br>

* ใกล้ยามเมื่อแสง ทอง ส่อง<br>
ฉันคอยมองจ้อง ฟ้าเรืองรำไร<br>
ลมโบกโบยมา หนาว ใจ<br>
รอช้าเพียงไร ตะวันจะมา<br>

** เพลิดเพลินฤทัย ฟังไก่ประสานเสียงกัน<br>
ดอกมะลิวัลย์ อวลกลิ่นระคนมณฑา<br>
โอ้ในยามนี้ เพลิน หนักหนา<br>
แสงทองนวลผ่องนภา แสนเพลินอุราสำราญ<br>

*** หมู่มวลวิหคบินผกมาแต่ รัง นอน<br>
เฝ้าเชยชิดช้อน ลิ้มชมบัวบาน<br>
ยินเสียงบรรเลง ดังเพลงขับขาน<br>
สอดคล้องกังวาน ซาบซ่านจับใจ<br>

( ซ้ำ * , ** , *** )</p> 
		</B>
</div>
</body>
	

</html>