<html>
<head>
	<title>บทเพลงพระราชนิพลธ์</title>
</head>
<B><div align="right">
*** บทเพลงพระราชนิพนธ์ ***<BR/>
<a href="home">home</a>
<a href="kingsong1">บทเพลงที่1</a>
<a href="kingsong2">บทเพลงที่2</a>
<a href="kingsong3">บทเพลงที่3</a>
</B></div>
<center>
	<h1>บทเพลงพระราชนิพนธ์ เพลง : ยามเย็น</h1>
</center>	



<center><a href="https://www.youtube.com/watch?v=dl6YYwNsaxE">ฟังได้ที่นี้</a></center>
<body background="https://i.ytimg.com/vi/Nt2BChzX05s/maxresdefault.jpg">

	<div border="1" align="center">
    
	<B><p  >..แดด รอน ๆ <br>
เมื่อทินกรจะลับเหลี่ยมเม-ฆา <br>
ทอแสงเรืองอร่าม ช่าง งาม ตา <br>
ในนภาสลับ จับ อัม พร <br>
..แดด รอน ๆ <br>
เมื่อทินกรจะลาโลกไป ไกล <br>
ยามนี้จำต้องพราก จาก ดวง ใจ <br>
ไกลแสนไกลสุดห่วง ยอด ดวง ตา <br>
..แต่ก่อนเคยคลอเคลียกัน<br>
ทุกวันคืนรี่นอุรา<br>
ต้องอยู่เดียวเปลี่ยววิญญา<br>
เหมือนดัง นภา ไร้ ทินกร<br>
แดด รอน ๆ<br>
หากทินกรจะลาโลกไป ไกล<br>
ความรักเราคง อยู่ คู่ กัน ไป<br>
ในหัวใจคงอยู่ คู่ เชย ชม<br>
..แดด รอน ๆ<br>
หมู่มวลภมรบินลอยล่องตาม ลม<br>
คลอเคล้าพฤกษาชาติ ชื่น เชย ชม<br>
ชมสมตามอารมณ์ ล่อง เลย ไป<br>
ลิ่ว ลม โชย<br>
กลิ่นพันธุ์ไม้โปรยโรยร่วงห่วงอา ลัย<br>
ยามสายัณห์พลันพราก จาก ดวง ใจ<br>
คอยแสงทองวันใหม่ กลับ คืน มา<br>
แต่ก่อนเคยคลอเคลียกัน<br>
ทุกวันคืนชื่นอุรา<br>
ต้องอยู่เดียวเปลี่ยววิญญา<br>
เหมือนดังนภาไร้ทินกร<br>
..โอ้ ยาม เย็น<br>
จวบยามนี้เป็นเวลา สุด อา วรณ์<br>
ยามไร้ความสว่างห่างทินกร<br>
ยามรักจำจะ จร จาก กัน ไป..</p> 
		</B>
</div>
</body>
	

</html>