<html>
<head>
	<title>บทเพลงพระราชนิพลธ์</title>
</head>
<B><div align="right">
*** บทเพลงพระราชนิพนธ์ ***<BR/>
<a href="home">home</a>
<a href="kingsong1">บทเพลงที่1</a>
<a href="kingsong2">บทเพลงที่2</a>
<a href="kingsong3">บทเพลงที่3</a>
</B></div>
<center>
	<h1>บทเพลงพระราชนิพนธ์ เพลง : ชะตาชีวิต</h1>
</center>	



<center><a href="https://www.youtube.com/watch?v=eyd-I0SmkhY">ฟังได้ที่นี้</a></center>
<body background="https://i.ytimg.com/vi/Nt2BChzX05s/maxresdefault.jpg">

	<div border="1" align="center">
    
	<B><p>นกน้อยคล้อยบินมาเดียวดาย<br>
...คิดคิดมิวายกังวลให้หม่นฤทัยหมอง<br>
ขาดมวลมิตรไร้คนสนิทคู่เคียงครอง<br>
หลงไหลหมายปองคนปรานี<br>
...ขาดเรือนแหล่งพักพำนักนอน<br>
ขาดญาติบิดรและน้องพี่<br>
บาปกรรมคงมี จำทนระทม<br>

...ท้องฟ้าสายัณห์ตะวันเลือน<br>
...แสงลับนับวันจะเตือนให้ใจต้องขื่นขม<br>
หากเย็นลงฟ้าคงยิ่งมืดยิ่งตรอมตรม<br>
ชีวิตระทมเพราะรอมา<br>
...จวบจันทร์แจ่มฟ้านภาผ่อง<br>
เฝ้ามองให้เดือนชุบวิญญา<br>
สักวันบุญมา ชะตาคงดี<br>

นกน้อยคล้อยบินมาเดียวดาย<br>
...คิดคิดมิวายกังวลให้หม่นฤทัยหมอง<br>
ขาดมวลมิตรไร้คนสนิทคู่เคียงครอง<br>
หลงไหลหมายปองคนปรานี<br>
...ขาดเรือนแหล่งพักพำนักนอน<br>
ขาดญาติบิดรและน้องพี่<br>
บาปกรรมคงมี จำทนระทม<br>

...ท้องฟ้าสายัณห์ตะวันเลือน<br>
...แสงลับนับวันจะเตือนให้ใจต้องขื่นขม<br>
หากเย็นลงฟ้าคงยิ่งมืดยิ่งตรอมตรม<br>
ชีวิตระทมเพราะรอมา<br>
...จวบจันทร์แจ่มฟ้านภาผ่อง<br>
เฝ้ามองให้เดือนชุบวิญญา<br>
สักวันบุญมา ชะตาคงดี<br>

( ซ้ำ * , ** , *** )</p> 
		</B>
</div>
</body>
	

</html>